<div class="flex flex-col items-center justify-center">
  <div class="oh-section">
    <%= image_tag 'logo.png', class: "object-contain h-12 w-48", alt: "olubalance" %>
  </div>

  <div class="oh-section oh-panel oh-form-panel w-full md:w-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="oh-form-group">
        <%= f.label :email, class: 'oh-form-label' %>
        <%= f.text_field :email, autofocus: true, class: 'oh-form-input' %>
      </div>

      <div class="oh-form-group">
        <%= f.label :password, class: 'oh-form-label' %>
        <%= f.password_field :password, autocomplete: "off", class: 'oh-form-input' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="oh-form-group flex items-center justify-center gap-2">
          <%= f.check_box :remember_me, class: 'oh-form-check-input' %>
          <%= f.label :remember_me, class: 'oh-form-label mb-0' %>
        </div>
      <% end %>

      <div class="flex justify-center">
        <%= f.submit "Log in", class: 'oh-btn oh-btn-primary' %>
      </div>
    <% end %>
  </div>
</div>