<h3 class="title is-4 has-text-link">Sign up</h3>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <% if resource.errors.any? %>
    <article id="error explanation" class="message is-danger">
      <div class="message-header">
        Something went wrong!
      </div>
      <div class="message-body content">
        Please correct the following <span class="has-text-weight-bold"><%= pluralize(resource.errors.count, "error") %></span>:
        <ul>
          <% resource.errors.full_messages.each do |msg | %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <div class="columns">
    <!-- Fields -->
    <div class="column">

      <!-- Name -->
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-grey">First Name</label>
            <div class="control has-icons-left">
              <%= f.text_field :first_name, class: "input is-primary",
                                            placeholder: "John" %>
              <span class="icon is-small is-left has-text-primary">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label has-text-grey">Last Name</label>
            <div class="control has-icons-left">
              <%= f.text_field :last_name, class: "input is-primary",
                                            placeholder: "Smith" %>
              <span class="icon is-small is-left has-text-primary">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-grey">Email</label>
            <div class="control has-icons-left">
              <%= f.text_field :email, type: "email",
                                      class: "input is-primary",
                                      placeholder: "john@smith.com" %>
              <span class="icon is-small is-left has-text-primary">
                <i class="fas fa-at"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Password -->
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-grey">Password</label>
            <div class="control has-icons-left">
              <%= f.text_field :password, type: "password",
                                          class: "input is-primary" %>
              <span class="icon is-small is-left has-text-primary">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label has-text-grey">Confirm Password</label>
            <div class="control has-icons-left">
              <%= f.text_field :password_confirmation, type: "password",
                                                       class: "input is-primary" %>
              <span class="icon is-small is-left has-text-primary">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Timezone -->
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-grey">Time Zone</label>
            <div class="control has-icons-left">
              <div class="select is-fullwidth is-primary">
                <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones,
                                                  default: "Eastern Time (US & Canada)" %>
                <span class="icon is-small is-left has-text-primary">
                  <i class="fas fa-globe"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <%= flash[:recaptcha_error] %>
          <%= recaptcha_tags %>
        </div>
      </div>
  </div>

  </div> <!-- /columns -->

  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <%= button_tag(type: 'submit', class: "button is-primary") do %>
        Sign Up
      <% end %>
    </div>
  </div>
<% end %>

<div class="has-text-centered">
  <%= render "devise/shared/links" %>
</div>