    <!-- Modal for Delete -->
    <div 
      id="delete-transaction-<%= @transaction.id %>" 
      class="modal"
      style="z-index: 9999" 
      data-shared-target="modal"
    >
      <div 
        class="modal-background"
        data-action="click->shared#toggleModal"
        data-id="delete-transaction-<%= @transaction.id %>"
      ></div>
      <div class="modal-content ob-modal-card">
        <div class="card">
          <header class="card-header has-background-danger">
            <p class="card-header-title has-text-white">Delete <%= @transaction.description %>?</p>
          </header>
          <section class="card-content">
            <p>Are you sure you wish to delete this transaction? This action cannot be reversed.</p>
          </section>
          <footer class="card-footer">
            <a 
              class="card-footer-item has-text-weight-bold has-text-grey"
              data-action="click->shared#toggleModal"
              data-id="delete-transaction-<%= @transaction.id %>"
            >
              Cancel
            </a>
            <%= link_to "Delete", account_transaction_path(@account, @transaction), data: { turbo_method: "delete" }, class: "card-footer-item card-modal-close has-text-weight-bold has-text-danger" %>
          </footer>
        </div>
      </div>
    </div>