<div class="level-item is-hidden-mobile">
  <span class="has-text-weight-semibold mr-5">
		<%= @pagy.count %>
	</span>
	<%= 'transaction'.pluralize(@pagy.count) %>
</div>
<div class="level-item" id="transaction-search">
  <%= form_with url: account_transactions_path, method: :get, data: { turbo_action: "replace", controller: "trxsearch", turbo_permanent: "" } do |form| %>
    <div class="field">
      <div class="control has-icons-right">
        <%= form.text_field :description, 
                           placeholder: "Find transactions...", 
                           value: session.dig('filters', 'description'), 
                           class: "input", 
                           data: { action: "trxsearch#submit", trxsearch_target: "description" } 
        %>
        <%= link_to '#', data: { action: "trxsearch#clear" } do %>
          <span class="icon is-right" style="pointer-events: initial">
            <i class="fas fa-times"></i>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>