<table class="table is-hoverable is-fullwidth ob-table">
  <thead class="ob-table-phead">
    <th class="has-text-centered is-hidden-mobile">
      <div class="ob-cell-content">
        <%= link_to "#", class: column_css(:trx_date),
            data: { reflex: "click->TransactionReflex#order", column_name: :trx_date, direction: direction } do %>
            <span class="sortable-column-name">
              Date
            </span>
            <span class="icon is-small">
              <i class="fa <%= arrow(:trx_date) %>"></i>
            </span>
        <% end %>
      </div>
    </th>
    <th class="is-hidden-mobile">
      <div class="ob-cell-content">
        <%= link_to "#", class: column_css(:description),
            data: { reflex: "click->TransactionReflex#order", column_name: :description, direction: direction } do %>
            <span class="sortable-column-name">
              Description
            </span>
            <span class="icon is-small">
              <i class="fa <%= arrow(:description) %>"></i>
            </span>
        <% end %>
      </div>
    </th>
    <th class="has-text-right is-hidden-mobile">
      <div class="ob-cell-content">
        Credit
      </div>
    </th>
    <th class="has-text-right is-hidden-mobile">
      <div class="ob-cell-content">
        Debit
      </div>
    </th>
    <th class="has-text-right is-hidden-mobile">
      <div>
        Balance
      </div>
    </th>
    <th class="is-hidden-tablet">
      <div>
        Transactions (<%= @pagy.count %>)
      </div>
    </th>
  </thead>
  <tbody>
    <%= render partial: "transactions/components/transactionLine", collection: @transactions, as: :transaction %>
  </tbody>
</table>