<div class="card" id="transaction-card">
  <header class="card-header has-background-primary">
    <p class="card-header-title has-text-white">
      <%= @transaction.description %>
    </p>
    <p class="card-header-icon has-text-white has-text-weight-bold">
      <%= @transaction.trx_date_display %>
    </p>
  </header>

  <div class="card-content">
    <div class="content">
      <div class="columns is-multiline">

        <div class="column is-6 has-text-centered-mobile has-text-left">
          <p class="title is-6 has-text-link">
            Amount
          </p>
          <p class="subtitle pt-5 mb-0 is-2 <%= @transaction.amount_color %>">
            <%= @transaction.amount_decorated %>
            <div class="is-size-7 has-text-grey-light">Created <%= @transaction.created_at_decorated %></div>
          </p>

          <!-- Memo -->
          <p class="">
            <div class="title is-6 has-text-link">Memo</div>
            <div class="subtitle is-size-6 mb-0 has-text-grey"><%= @transaction.memo_decorated %></div>
          </p>

        </div>

        <div class="column is-6 has-text-centered-mobile has-text-right">
          <!-- Attachment -->
          <p class="title mb-5 is-6 has-text-link">
            Attachment
          </p>
          <p class="title is-7">
            <% if @transaction.attachment.attached? then %>
              <% if @transaction.attachment.variable? %>
                <div class="tooltip" data-tooltip="<%= @transaction.filename_size %>">
                  <%= link_to url_for(@transaction.attachment), target: '_blank' do %>
                    <%= image_tag(@transaction.attachment.variant(combine_options: {
                                                                                    gravity: 'Center',
                                                                                    thumbnail: '128x128^',
                                                                                    extent: '128x128'
                                                                                  }),
                                                                                  class: 'mt-5 ob-attachment-img') %>
                  <% end %>
                </div>
              <% else %>
                <%= link_to url_for(@transaction.attachment), target: '_blank',
                                                                            class: 'button is-primary is-large mt-5 tooltip',
                                                                            data: {
                                                                              tooltip: @transaction.filename_size
                                                                            } do %>
                  <span class="icon is-medium has-text-white">
                    <i class="fas fa-file-pdf-o"></i>
                  </span>
                  <span>Open</span>
                <% end %>
              <% end %>
            <% else %>
              <p>
                <span class="tag is-dark has-text-weight-bold">
                  No attachment
                </span>
              </p>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <% if !@transaction.locked %>
    <footer class="card-footer">
      <!-- Links -->
      <%= link_to edit_account_transaction_path(@transaction.account, @transaction), class: 'card-footer-item has-text-weight-bold' do %>Edit<% end %>
      <a class="card-footer-item has-text-weight-bold modal-button" data-target="delete-modal">Delete</a>
    </footer>
  <% end %>
</div>

<%= render partial: "transactions/components/deleteModal" %>