<!-- Main Level: Account Name and Buttons -->
<nav class="level mb-15 ob-account-name-level is-mobile">
  <div class="level-left">
    <% account_subtitle = "Account ending in " + @account.last_four_display unless @account.last_four_display.nil? %>
    <%= render  partial: "shared/pageLevelTitle", 
                locals: { 
                  title: @account.account_card_title, 
                  subtitle: account_subtitle
                } 
    %>
  </div>
  <div class="level-right is-hidden-mobile">
    <% if !@account.credit? %>
      <%= render partial: "transactions/components/transactionButtons" %>
    <% end %>
    <%= render partial: "shared/pageLevelNewButton", locals: { path: new_account_transaction_path } %>
  </div>

  <!-- Mobile Balances: Separated because of last-child right margin on levels -->
  <div class="level-right is-hidden-tablet">
    <%= render partial: "transactions/components/balancesMobile" %>
  </div>
</nav>

<!-- Secondary Level: Balances and Search -->
<nav class="level is-hidden-mobile">
  <div class="level-left">
    <%= render partial: "transactions/components/balances" %>
  </div>
  <div class="level-right">
    <%= render partial: "transactions/components/search" %>
  </div>
</nav>

<!-- Tertiary Level: Credit Card Details -->
<% if @account.credit? %>
  <nav class="level is-hidden-mobile">
    <%= render partial: "transactions/components/creditDetails" %>
  </nav>
<% end %>

<!-- Mobile Search -->
<nav class="level is-hidden-tablet">
  <%= render partial: "transactions/components/search" %>
</nav>