<header class="card-header has-background-primary <%= class_string(tooltip: account.name_too_long) %>"
  data-tooltip="<%= account.name %>">
  <h6 class="title is-6 card-header-title has-text-white">
    <%= account.account_card_title %>
  </h6>
</header>
<div class="card-content">
  <div class="content has-text-right ">
    <p class="title is-6 has-text-link">
      <span class="icon has-text-primary">
        <i class="fas fa-piggy-bank"></i>
      </span>
      Balance
    </p>
    <p class="subtitle is-2 <%= account.balance_color %>">
      <%= account.current_balance_display %>
      <div class="is-size-7 has-text-grey-light ob-last-updated">as of <%= account.updated_at_display %></div>
    </p>
  </div>
</div>