<div class="column is-3-fullhd is-4-widescreen is-6-tablet">
  <div class="card has-equal-height">
    <%= link_to(account_transactions_path(account.id)) do %>
      <%= render partial: "accounts/components/accountCardContent", locals: { account: account } %>
    <% end %>

    <footer class="card-footer">
      <span class="card-footer-item has-text-weight-medium has-text-grey"><%= account.last_four_display %></span>
      <%= link_to "Edit", edit_account_path(account), class: "card-footer-item has-text-weight-bold" %>
      <a class="card-footer-item has-text-weight-bold modal-button" data-target="deactivate-modal-<%=account.id%>%">Deactivate</a>
    </footer>
  </div>
</div>

<%= render partial: "accounts/components/deactivateModal", locals: { account: account } %>