<!-- Modal for Deactivate -->
<div id="deactivate-modal-<%= account.id %>" 
     class="modal" 
     style="z-index: 9999" 
     data-target="shared.modal"
>
  <div class="modal-background" 
       data-action="click->shared#toggleModal" 
       data-id="deactivate-modal-<%= account.id %>"
  ></div>
  <div class="modal-content ob-modal-card">
    <div class="card">
      <header class="card-header has-background-danger">
        <p class="card-header-title has-text-white">Deactivate <%= account.name %>?</p>
      </header>
      <section class="card-content">
        <p>Deactivating an account hides it from your account list, while keeping all transaction history for record keeping purposes. Inactive accounts can be found from the user menu and reactivated at any time.</p>
      </section>
      <footer class="card-footer">
        <a class="card-footer-item has-text-weight-bold has-text-grey" 
             data-action="click->shared#toggleModal"
             data-id="deactivate-modal-<%= account.id %>"
        >
          Cancel
        </a>
        <%= link_to "Deactivate", deactivate_account_path(account), class: "card-footer-item card-modal-close has-text-weight-bold has-text-danger" %>
      </footer>
    </div>
  </div>
</div>