<%= render partial: "shared/backButton", locals: { param_back_path: account_transactions_path(@account), param_back_text: "Transactions" } %>
<%= render partial: "stashes/components/stashLevel" %>
<%= render partial: "stashes/components/stashList" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Balance</th>
      <th>Goal</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stashes.each do |stash| %>
      <tr>
        <td><%= stash.name %></td>
        <td><%= stash.description %></td>
        <td><%= stash.balance %></td>
        <td><%= stash.goal %></td>
        <td><%= stash.active %></td>
        <td><%= link_to 'Show', account_stash_path(id: stash.id) %></td>
        <td><%= link_to 'Edit', edit_account_stash_path(id: stash.id) %></td>
        <td><%= link_to 'Destroy', account_stash_path(id: stash.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>