<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stash.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stash.description %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @stash.balance %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @stash.goal %>
</p>

<p>
  <strong>Active:</strong>
  <%= @stash.active %>
</p>

<%= link_to 'Edit', edit_account_stash_path(@stash) %> |
<%= link_to 'Back', account_stashes_path %>
