<!-- Mobile Row -->
<tr class="is-hidden-tablet">
  <td class="is-hidden-tablet">
    <%= link_to account_transaction_path(id: transaction.id) do %>
      <div class="level ob-mobile-level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <%= transaction.description %>
            <% if transaction.attachment.attached? then %>
              <span class="icon has-text-grey-light tooltip" data-tooltip="Transaction has attachment">
                <i class="fa fa-sm fa-paperclip"></i>
              </span>
            <% end %>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item <%= transaction.amount_color %>">
            <%= transaction.amount_decorated %>
          </div>
        </div>
      </div>

      <div class="level ob-mobile-level is-mobile has-text-grey is-size-7">
        <div class="level-left">
          <div class="level-item">
            <%= transaction.trx_date_decorated %>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item ">
            Balance <%= transaction.running_balance_display %>
          </div>
        </div>
      </div>
    <% end %>
  </td>
</tr>