<div class="row">

	<%= simple_form_for([@transaction.account, @transaction]) do |f| %>
		<% if @transaction.errors.any? %>
			<div id="error explanation">
				<h4>
					<%= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:" %>
				</h4>
				<ul>
					<% @transaction.errors.full_messages.each do |msg| %>
						<li>
							<%= msg %>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="row">
			<!-- Transaction Date -->
			<%= f.input :trx_date, as: :date, html5: true, :label => 'Transaction Date', wrapper_html: { class: 'l4 s7' }, input_html: { value: (@transaction.trx_date.present?) ? @transaction.trx_date.strftime('%d %B, %Y') : Time.now.strftime('%d %B, %Y') } %>
			<!-- Transaction Type -->
			<%= f.input :trx_type, as: :radio_buttons, collection: [['Credit', 'credit'], ['Debit', 'debit']], wrapper_html: { class: 'l2 s5' }, :label => 'Transaction Type', :item_wrapper_tag => :div, :checked => @transaction.transaction_type, id: 'trx_type' %>
		</div>
		

		<div class="row">
			<!-- Description -->
			<%= f.input :description, wrapper_html: { class: 'input-field l6 s12' } %>
		</div>

		<div class="row">
			<!-- Amount -->
			<%= f.input :amount, wrapper_html: { class: 'input-field l2 s12' }, input_html: { :value => (@transaction.amount.present?) ? number_with_precision(f.object.amount.abs, precision: 2) : nil} %>
			<!-- Memo -->
			<%= f.input :memo, hint: 'Add some notes about the transaction', wrapper_html: { class: 'input-field l4 s12' } %>
		</div>

		<div class="row">
			<!-- Attachment -->
			<%= f.input :attachment, hint: 'Upload a receipt or invoice', as: :file, wrapper_html: { class: 'l6 s12' } %>
		</div>

		<!-- Buttons -->
		<div class="row center-align">
			<div class="col s12 l6">
				<%= link_to 'Cancel', account_transactions_path, class: 'btn waves-effect waves-light' %>
				<%= button_tag(type: 'submit', class: 'btn waves-effect waves-light') do %>
					<% if @transaction.new_record? then %>
						Create
					<% else %>
						Update
					<% end %><i class="material-icons right">send</i>
				<% end %>
			</div>
		</div>

	<% end %>
</div>