<div class="row">
	<div class="col s12">
	    <h4 class="cyan-text text-darken-3 ob-shadow left"><strong>Balance</strong></h4>

		<%= link_to new_account_transaction_path, class: "btn waves-effect waves-light right" do %>
	    	<i class="material-icons left">add</i>Transaction
	    <% end %>
	</div>

	<div class="col s12">
	    <h5 class="cyan-text text-darken-3 ob-shadow left"><strong><%= @account.name %></strong></h5>
    	<h5 class="cyan-text text-darken-3 ob-shadow right">
    		<strong><span class="hide-on-med-and-down">Balance: </span><%= number_to_currency(@account.current_balance) %></strong>
    	</h5>
	</div>
</div>

<div class="row hide-on-large-only">
	<div class="col s12">
		<ul class="collection">
			<li class="collection-item teal lighten-5 teal-text text-darken-4"><strong>Transactions</strong></li>
			<% @transactions.each do |transaction| %>
				<%= link_to [transaction.account, transaction], class: "collection-item" do %>
					<div class="row ob-no-bottom">
						<div class="col s4 text-muted">
							<small><%= transaction.trx_date.strftime('%m/%d/%y') %></small>
						</div>
						<div class="col s8 right-align text-muted">
							<small>Balance <%= number_to_currency(transaction.running_balance) %></small>
						</div>
					</div>
					<div class="row ob-no-bottom">
						<div class="col s8">
							<%= transaction.description %>
							<% if transaction.attachment.exists? then %>
								<i class="tiny text-muted material-icons">attach_file</i>
							<% end %>
						</div>
						<div class="col s4 right-align">
							<% if transaction.amount >= 0 then %>
								<span class="green-text"><%= number_to_currency(transaction.amount) %></span>
							<% else %>
								<span class="red-text"><%= number_to_currency(transaction.amount.abs) %></span>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>



	<div class="row mt-2">
		<div class="col-sm-12">
			<table class="table table-sm table-hover">
				<thead>
					<tr class="row m-0">
						<th class="col-sm-1 text-center">#</th>
						<th class="col-sm-2 text-center">Date</th>
						<th class="col-sm-3">Description</th>
						<th class="col-sm-2 text-right">Credit</th>
						<th class="col-sm-2 text-right">Debit</th>
						<th class="col-sm-2 text-right">Balance</th>
					</tr>
				</thead>
				<tbody>
					<% @transactions.each do |transaction| %>
						<tr class="row m-0">
							<td class="col-sm-1 text-center"><%= link_to transaction.id, [transaction.account, transaction] %></td>
							<td class="col-sm-2 text-center"><%= transaction.trx_date.strftime('%m/%d/%Y') %></td>
							<td class="col-sm-3"><%= transaction.description %></td>
							<td class="col-sm-2 text-right"><%= if transaction.amount >= 0 then number_to_currency(transaction.amount) end %></td>
							<td class="col-sm-2 text-right"><%= if transaction.amount < 0 then "(" + number_to_currency(transaction.amount.abs) + ")" end %></td>
							<td class="col-sm-2 text-right"><%= number_to_currency(transaction.running_balance) %></td>

						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="text-center">
				<%= will_paginate @transactions %>
			</div>
			<div class="text-center">
				<%= link_to 'Edit Account', edit_account_path(@account), class: "btn btn-secondary btn-sm" %>
				<%= link_to 'Delete Account', @account, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure you want to delete the account?' } %>
			</div>
		</div>
	</div>