<div class="row">
  <div class="col s12">
    <h5 class="cyan-text text-darken-3 ob-shadow left"><strong>Transaction Details</strong></h5>
  </div>
</div>

<div class="row">
	<div class="col s12 l8 offset-l2 center-align">
		<div class="card z-depth-2 left-align">
		    <div class="card-content">
		      <div class="row">
		      	<div class="card-title col s8 ob-shadow ob-no-bottom"><%= @transaction.description %></div>
		      	<div class="card-title col s4 ob-shadow right-align ob-no-bottom">
	  				<% if @transaction.amount >= 0 then %>
						<span class="green-text"><%= number_to_currency(@transaction.amount) %></span>
					<% else %>
						<span class="red-text"><%= number_to_currency(@transaction.amount.abs) %></span>
					<% end %>
		      	</div>
		      	<div class="col s12 ob-shadow text-muted right-align">
		      		<%= @transaction.trx_date.strftime('%m/%d/%Y') %>
		      	</div>
		      </div>

		      <div class="row">
		     	<div class="col s12">
		     		<blockquote><%= @transaction.memo %></blockquote>
		     	</div>
		      </div>

		      <% if @transaction.attachment.exists? then %>
		      	<div class="row">
		      		<div class="col s12">
		      			<ul class="collection hoverable">
		      				<li class="collection-item teal lighten-5 teal-text text-darken-4"><strong>Attachment</strong></li>
		      				<li class="collection-item">
		      					<div class="row ob-no-bottom valign-wrapper">
		      						<div class="col s5 m3 l2">
		      							<%= link_to image_tag(@transaction.attachment.url(:thumb)), @transaction.attachment.url, :target => '_blank' %>
		      						</div>
		      						<div class="col s7 m9 l10">
		      							<%= link_to @transaction.attachment_file_name, @transaction.attachment.url, :class => 'text-secondary', :target => '_blank' %>
		      							<br /><%= number_to_human_size(@transaction.attachment_file_size) %>
		      						</div>
		      					</div>
		      				</li>
		      			</ul>
		      		</div>
		      	</div>
		      <% end %>

		      <div class="row ob-no-bottom">
		      	<div class="col s12 ob-shadow">
		      		<small class="text-muted">Transaction created on <%= @transaction.created_at.strftime('%b %d, %Y @ %I:%M %p') %></small>
		      	</div>
		      </div>

		    </div>
		    <div class="card-action right-align">
		      <%= link_to edit_account_transaction_path(@transaction.account, @transaction), class: "btn-small waves-effect waves-light" do %>
		      	Edit<i class="material-icons right">edit</i>
		      <% end %>
			  <%= link_to @account_transaction, method: :delete, class: "btn-small waves-effect waves-light" do %>
		      	Delete<i class="material-icons right">delete</i>
		      <% end %>
		    </div>
	  </div>
	</div>
</div>