<h2 class="text-center">Transaction Details</h2>
<br />
<div class="row">
	<div class="col-sm-12 text-right">
		<%= link_to "Edit", edit_account_transaction_path(@transaction.account, @transaction), class: "btn-sm btn-primary" %>&nbsp;
		<%= link_to "Delete", @account_transaction, method: :delete, class: "btn-sm btn-danger" %>
	</div>	
</div>
<div class="row mt-2">
	<div class="col-sm-12 text-center">
		<table class="table table-bordered table-striped">
			<tbody>
				<tr class="row m-0">
					<td class="col-sm-6 text-center font-weight-bold">Transaction #</td>
					<td class="col-sm-6 text-center"><%= @transaction.id %></td>
				</tr>
				<tr class="row m-0">
				    <td class="col-sm-6 text-center font-weight-bold">Transaction Date</td>
					<td class="col-sm-6 text-center"><%= @transaction.trx_date.strftime('%m/%d/%Y') %></td>
				</tr>
				<tr class="row m-0">
				    <td class="col-sm-6 text-center font-weight-bold">Description</td>
					<td class="col-sm-6 text-center"><%= @transaction.description %></td>
				</tr>
				<tr class="row m-0">
				    <td class="col-sm-6 text-center font-weight-bold">Amount</td>
					<td class="col-sm-6 text-center"><%= number_to_currency(@transaction.amount) %></td>
				</tr>
			</tbody>
		</table>
		<small class="text-muted">Transaction created on <%= @transaction.created_at.strftime('%b %d, %Y @ %I:%M %p') %></small>
	</div>
</div>