<!-- Mobile Menu -->
<ul class="side-nav" id="mobile-menu">
  <li class="ob-sidenav-header ob-primary">

    <%= render "layouts/envmobile" if !Rails.env.production? %>

    <div class="row">
      <div class="col s12 center-align">
        <%= image_tag("logo.png", width: '50%') %>
        <% if user_signed_in? %>
          <span class="btn-flat white-text"><%= current_user.email %></span>
        <% end %>
    </div>
    </div>

  </li>

  <%= render "layouts/userlinks" if user_signed_in? %>
  <%= render "layouts/guestlinksmobile" if !user_signed_in? %>

</ul>