<%= render "layouts/mobilenav" %>

<!-- User dropdown links -->
<ul id="useraccount" class="dropdown-content">
  <%= render "layouts/userlinks" %>
</ul>

<div class="navbar-fixed">

  <nav class="z-depth-1" role="navigation">
    <div class="nav-wrapper container">

      <%= render "layouts/logo" %>

      <!-- Mobile Menu Button -->
      <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <!-- Desktop Menu -->
      <ul class="right hide-on-med-and-down">

        <%= render "layouts/env" if !Rails.env.production? %>  
        <%= render "layouts/navlinks" if user_signed_in? %>
        <%= render "layouts/guestlinks" if !user_signed_in? %>

      </ul>

    </div>
  </nav>
</div>