<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>olubalance</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
  </head>

  <body>

    <!--#####################################################################--
    #
    #                             To Malintha
    #
    #          Without you I would have never created this application.
    #         You are my inspiration, my motivation, and my best friend.
    #                     I love you with all of my heart.
    #
    #                                Love,
    #                                Kevin
    #
    #########################################################################-->

    <div id="app">
      <header>
        <%= render "shared/navbar" %>
      </header>

      <main class="olubalance site-content">
        <section class="section">
          <div class="container">
            <%= yield %>
          </div>

          <% flash.each do |message_type, message| %>
            <% if message.present? and message.is_a? String %>
              <div 
                data-controller="shared" 
                data-shared-message-type="<%= message_type %>" 
                data-shared-message="<%= message %>"
              >
              </div>
            <% end %>
          <% end %>
        </section>
      </main>

      <footer class="footer">
        <%= render "shared/footer" %>
      </footer>
    </div>
  </body>

</html>
