<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>olubalance</title>
    <%= favicon_link_tag asset_path('obfavicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--#####################################################################--
    #
    #                             To Malintha
    #
    #          Without you I would have never created this application.
    #         You are my inspiration, my motivation, and my best friend.
    #                     I love you with all of my heart.
    #
    #                                Love,
    #                                Kevin
    #
    #########################################################################-->

    <header>
      <%= render "layouts/navbar" %>
    </header>

    <main role="main">

      <div class="container">
        <%= yield %>
      </div>

      <% flash.each do |message_type, message| %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
      <% end %>

    </main>

    <%= render "layouts/footer" %>

  </body>

</html>
