<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>olubalance</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=dLXL9YRL6A">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=dLXL9YRL6A">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=dLXL9YRL6A">
    <link rel="manifest" href="/site.webmanifest?v=dLXL9YRL6A">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=dLXL9YRL6A" color="#366a64">
    <link rel="shortcut icon" href="/favicon.ico?v=dLXL9YRL6A">
    <meta name="apple-mobile-web-app-title" content="olubalance">
    <meta name="application-name" content="olubalance">
    <meta name="msapplication-TileColor" content="#366a64">
    <meta name="theme-color" content="#366a64">

    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>

    <!--#####################################################################--
    #
    #                             To Malintha
    #
    #          Without you I would have never created this application.
    #         You are my inspiration, my motivation, and my best friend.
    #                     I love you with all of my heart.
    #
    #                                Love,
    #                                Kevin
    #
    #########################################################################-->
    <div class="h-screen overflow-hidden relative">
      <div class="overflow-auto h-screen pb-12 bg-primary-100">
        <main>
          <!-- Content Container -->
          <div class="px-4 lg:px-8 py-2 lg:py-10 w-full mx-auto">
            <% flash.each do |type, data| %>
              <div id="notice">
                <% if @data.present? %>
                  <div class="mx-auto md:w-2/3 w-full flex">
                    <p class="mx-auto py-2 px-3 mb-5 font-medium rounded-md shadow inline-block border <%= @color_class %>"><%= @data %></p>
                  </div>
                <% end %>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
