<div class="row">

    <%= simple_form_for(@account) do |f| %>

      <% if @account.errors.any? %>
        <div id="error explanation">
          <h4>
            <%= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:" %>
          </h4>
          <ul>
            <% @account.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="input-field col s12 xl4 l6">
          <i class="material-icons prefix ob-text-primary">account_balance</i>
          <%= f.label :name, class: 'active' %>
          <%= f.text_field :name, placeholder: "Enter an account name" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 xl4 l6">
          <i class="material-icons prefix ob-text-primary">attach_money</i>
          <%= f.label :starting_balance, class: 'active' %>
          <%= f.number_field :starting_balance, value: number_with_precision(f.object.starting_balance, precision: 2), step: 0.01, placeholder: "Enter the starting balance", readonly: (@account.new_record? ? false : true) %>
        </div>
      </div>

      <div class="row center-align">
        <div class="col s12 xl4 l6">
          <%= link_to 'Cancel', accounts_path, class: 'btn waves-effect waves-light' %>
          <%= button_tag(type: 'submit', class: 'btn waves-effect waves-light') do %>
            <% if @account.new_record? then %>
              Create
            <% else %>
              Update
            <% end %><i class="material-icons right">send</i>
          <% end %>
        </div>
      </div>

    <% end %>
</div>
