<div class="row">
    <%= simple_form_for(@account) do |f| %>
      <%= f.error_notification %>

      <div class="row">
        <%= f.input :name, wrapper_html: { class: 'col s12 l4' } %>
      </div>
      <div class="row">
        <%= f.input :starting_balance, wrapper_html: { class: 'col s12 l4' } %>
      </div>

      <div class="row">
        <%= link_to 'Cancel', accounts_path, class: 'btn' %>
        <%= f.button :submit %>
      </div>

    <% end %>
</div>
