<h1>My Accounts</h1>
<br />
<div class="row">
  <div class="col-sm-12">
    <%= link_to "Add Account", new_account_path, class: "btn btn-primary" %>
  </div>  
</div>

<div class="row mt-2">
  <div class="col-sm-12">
    <% @accounts.each_slice(4) do |accounts| %>
      <div class="row">
      <% accounts.each do |account| %>
        <div class="col-sm-3">
          <div class="card">
            <h5 class="card-header"><%= account.name %></h5>
            <div class="card-body">
              Current Balance: <%= number_to_currency(account.current_balance) %>
            </div>
            
            <%= link_to 'Show', account %>
            <%= link_to 'Edit', edit_account_path(account) %>
            <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
