<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Starting balance:</strong>
  <%= @account.starting_balance %>
</p>

<p>
  <strong>Current balance:</strong>
  <%= @account.current_balance %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
