<div class="row">
  <div class="col s12 l4">
    <h5 class="ob-text-primary"><strong>User Settings</strong></h5>
  </div>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

  <div class="row">
    <%= f.input :first_name, required: true, icon: 'person', wrapper_html: { class: "input-field l3 s12" } %>
    <%= f.input :last_name, required: true, icon: 'none', wrapper_html: { class: "input-field l3 s12" } %>
  </div>

  <div class="row">
    <%= f.input :email, required: true, icon: 'email', autofocus: true, wrapper_html: { class: "input-field l6 s12" } %>
  </div>

  <div class="row">
    <%= f.input :password, autocomplete: "off", icon: 'lock', required: false, hint: "leave it blank if you don't want to change it", wrapper_html: {class: "input-field l6 s12" } %>
  </div>

  <div class="row">
    <%= f.input :password_confirmation, icon: 'lock', required: false, wrapper_html: {class: "input-field l6 s12" } %>
  </div>

  <div class="row">
    <%= f.input :current_password, icon: 'lock', required: true, hint: "we need your current password to confirm your changes", wrapper_html: {class: "input-field l6 s12" } %>
  </div>

  <div class="row">
    <div class="col l4 s12">
    <%= link_to 'Cancel', accounts_path, class: 'btn waves-effect waves-light' %>
    <%= button_tag(type: 'submit', class: 'btn waves-effect waves-light') do %>
      Update
    <% end %>
    </div>
  </div>
<% end %>
<br />

<p><%= fa_icon "frown-o", class: 'ob-text-primary' %> Unhappy? <a class="modal-trigger ob-text-primary" href="#delete-ob-account">Delete olubalance account</a>

<div id="delete-ob-account" class="modal">
  <div class="modal-content ob-text-primary">
    <h4>Delete Your olubalance Account?</h4>
    <p>Are you sure you wish to delete your olubalance account? All of your saved accounts and transactions will be permanantly deleted by clicking <strong>Delete</strong> below. We're sad to see you go!</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat ob-text-primary">Cancel</a>
    <%= link_to "Delete", registration_path(resource_name), method: :delete, class: "modal-action modal-close waves-effect waves-light btn-flat ob-text-primary", :'data-position' => "top", :'data-tooltip' => "Delete olubalance account" %>
  </div>
</div>